.mail-form {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.mail-form-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.mail-form-close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.mail-form-close-button:hover,
.mail-form-close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#email-input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.submit-email-button {
    background-color: #54c898;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.submit-email-button:hover {
    background-color: #39a176;
}
