.token-select-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.token-select {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--surface1);
    border-radius: 16px;
    padding: 8px 12px;
    cursor: pointer;
    position: relative;
}

.token-amount-input {
    width: 100%;
    font-size: 2rem;
    padding: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: inherit;
    color: var(--neutral1);
    text-align: left;
    transition: border-color 0.2s ease;
}

.token-amount-input:focus {
    border-color: var(--accent1);
}

.token-amount-input::placeholder {
    color: var(--neutral3);
    text-align: left;
}

.token-amount-input:invalid {
    border-color: var(--critical);
}
